.page{
    background-color: black;
    padding-bottom: 40vh;
    padding-top: 45vh;

}
.pnf{
    color:whitesmoke;
    text-align: center;
    // margin-top: 20em;
    justify-content:space-between;
    
}